@model Patient

<h3>Patient Information</h3>

<table class="table" style="color:white">
    <tr>
        <th>Patient ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Date of Birth</th>
        <th>Gender</th>
        <th>Diagnosis</th>
        <th>Physician ID</th>
    </tr>

    <tr>
        <td>@Model.PatientID</td>
        <td>@Model.Name</td>
        <td>@Model.Age  </td>
        <td>@Model.DateOfBirth.ToString("MM/dd/yyyy")</td>
        <td>@Model.Gender</td>
        <td>@Model.Diagnosis</td>
        <td><a href=/Physician/ViewPhysician/@Model.PhysicianID>@Model.PhysicianID</a></td>
    </tr>
</table>
