@model IEnumerable<Appointment>

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <h2>Appointments</h2>

    <div id="Button" style="display: table-cell">
        <a href="/Appointment/MakeAppointment/">Make a new Appointment</a>
    </div>

@using (Html.BeginForm("ViewPhysicianAppointments", "Appointment", FormMethod.Get))
{
    <label for="PhysicianID">Physician ID:</label>
    <input type="number" id="PhysicianID" name="PhysicianID">
    <button type="submit">Filter Appointments</button>
}

<div id="appointments"></div>

<script src="~/js/site.js"></script>

    <table class="table">
        <tr>
            <th>Appt ID</th>
            <th>Appointment</th>
            <th>Patient ID</th>
            <th>Physician ID</th>
            <th>Edit/Delete</th>
        </tr>

    @foreach (var appointment in @Model)
    {
        <tr>
            <td><a href=/Appointment/ViewAppointment/@appointment.ApptID>@appointment.ApptID</a></td>
            <td>@appointment.AppointmentStart.ToString("MM/dd/yyyy HH:mm")</td>
            <td><a href=/Patient/ViewPatient/@appointment.PatientID>@appointment.PatientID</a></td>
            <td><a href=/Physician/ViewPhysician/@appointment.PhysicianID>@appointment.PhysicianID</a></td>
            <td>
                <div>
                    @using (Html.BeginForm("DeleteAppointment", "Appointment", "Post"))
                    {
                        <input type="hidden" asp-for="@appointment.ApptID" value="@appointment.ApptID"/>
                        <input id="Button" type="submit" onclick="return confirm('You are about to remove this appointment from the database. Click Yes to confirm delete.')" value="Delete this Appointment" />
                    }
                </div>
                <div id="Button">
                    <a href="/Appointment/UpdateAppointment/@appointment.ApptID">Update Appointment</a>
                </div>
            </td>
            
        </tr>
    }

    </table>
