@model IEnumerable<Appointment>

    <h2>Appointments</h2>

    <div style="display: block">
        <a href="/Appointment/MakeAppointment/">Make a new Appointment</a>
    </div>

    <table class="table">
        <tr>
            <th>Appt ID</th>
            <th>Appointment Start</th>
            <th>Appointment End</th>
            <th>Patient ID</th>
            <th>Physician ID</th>
        </tr>

    @foreach (var appointment in @Model)
    {
        <tr>
            <th><a href=/Appointment/ViewAppointment/@appointment.ApptID>@appointment.ApptID</a></th>
            <th>@appointment.AppointmentStart</th>
            <th>@appointment.AppointmentEnd</th>
            <th>@appointment.PatientID</th>
            <th>@appointment.PhysicianID</th>
        </tr>
    }

    </table>
