@model Appointment

<h2>@Model.ApptID Edit Appointment</h2>

@using (Html.BeginForm("UpdateAppointmentToDatabase", "Appointment", "Post"))
{
    <input asp-for="ApptID" type="hidden" value="@Model.ApptID" />

    <label asp-for="AppointmentStart" class="control-label">Start Time</label>
    <input asp-for="AppointmentStart" type="datetime-local" class="form-control" value="@Model.AppointmentStart.ToString("yyyy-MM-ddTHH:mm")" />

    <label asp-for="AppointmentEnd" class="control-label">Appointment End</label>
    <input asp-for="AppointmentEnd" type="datetime-local" class="form-control" value="@Model.AppointmentEnd.ToString("yyyy-MM-ddTHH:mm")" />

    <label asp-for="PatientID" class="control-label">Patient ID</label>
    <input asp-for="PatientID" type="number" class="form-control" value="@Model.PatientID" />

    <label asp-for="PhysicianID" class="control-label">Physician ID</label>
    <input asp-for="PhysicianID" type="number" class="form-control" value="@Model.PhysicianID" />

    <input id="Button" type="submit" value="Update Appointment" class="btn btn-primary" />

    <a id="Button" href="/Appointment/Index/">Cancel</a>
}

