@model Appointment

<h2>Appointment Information</h2>


<table class="table">
    <tr>
        <th>Appointment ID</th>
        <th>Apointment</th>
        <th>End time</th>
        <th>Patient ID</th>
        <th>Physician ID</th>
    </tr>

    <tr>
        <td>@Model.ApptID</td>
        <td>@Model.AppointmentStart.ToString("MM/dd/yyyy HH:mm")</td>
        <td>@Model.AppointmentEnd.ToString("MM/dd/yyyy HH:mm")</td>
        <td><a href=/Patient/ViewPatient/@Model.PatientID>@Model.PatientID</a></td>
        <td><a href=/Physician/ViewPhysician/@Model.PhysicianID>@Model.PhysicianID</a></td>
    </tr>
</table>

<div id="Button">

    <a href="/Appointment/UpdateAppointment/@Model.ApptID">Update Appointment</a>
</div>

<div>
    @using (Html.BeginForm("DeleteAppointment", "Appointment", "Post"))
    {
        <input type="hidden" asp-for="ApptID" value="@Model.ApptID" />
        <input id="Button" type="submit" onclick="return confirm('You are about to remove this appointment from the database. Click Yes to confirm delete.')" value="Delete Appointment" />
    }
</div>
